/*loader */
.lds-hourglass {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;

  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid rgb(2, 74, 167);
  border-color: rgb(40, 7, 137) transparent rgb(18, 15, 174) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

form {
  padding: 50px;
  margin: auto !important;
}
.main-form {
  width: 100%;
}
.background {
  margin: auto;
}
.background {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 20px;
  padding: 20px;
}
